<fieldset>
  <legend>Locations</legend>
  <div>
    <h2>Farm</h2>
    <h4>Earns 2-5 Gold</h4>
    <button (click)="getGold('farm')">Farm!</button>
  </div>
  <div>
    <h2>Cave</h2>
    <h4>Earns 5-10 Gold</h4>
    <button (click)="getGold('cave')">Cave!</button>    
  </div>
  <div>
    <h2>House</h2>
    <h4>Earns 7-15 Gold</h4>
    <button (click)="getGold('house')">House!</button>    
  </div>
  <div>
    <h2>Casino</h2>
    <h4>Earn up to or lose up to 100 Gold</h4>
    <button (click)="getGold('casino')">Gamble!</button>    
  </div>
</fieldset>