.BrownBox{
    display: inline-block;
    background-color: #945308;
    height: 120px;
    width: 120px;
}

.myButton{
    display: inline-block;
    margin: 15px;
    height: 90px;
    width: 90px;
    font-size: 30px;
}

