<div id="mainBox">
  <h5>MainComponent</h5>
  <p>Lorem ipsum and shit wow this ipsum seriously sick text. Lorem ipsum and shit wow this ipsum seriously sick text. Lorem ipsum and shit wow this ipsum seriously sick text. Lorem ipsum and shit wow this ipsum seriously sick text. Lorem ipsum and shit wow this ipsum seriously sick text. Lorem ipsum and shit wow this ipsum seriously sick text. Lorem ipsum and shit wow this ipsum seriously sick text. Lorem ipsum and shit wow this ipsum seriously sick text. Lorem ipsum and shit wow this ipsum seriously sick text. </p>
</div>